{% extends 'base.html' %}
{% load i18n places_tags %}

{% block content %}
  <div class="row center-block">
  <p class="lead text-center">Most Wanted: <b><span data-item="most-wanted">{{ most_wanted|default:"Nothing" }}</span></b></p>
  </div>
  <div class="row">
    {% for place in object_list %}
      <div class="col-sm-6 col-md-4" data-item="place" data-id="{{ place.id }}">
        <div class="thumbnail" style="min-height: 290px;">
          <div class="caption">
            <h3>{{ place.name }}
              <small>votes: <span data-item="today-rating"><b>{{ place.today_rating }}</b></span></small>
            </h3>
            <p>
              <a href="https://www.google.com/maps/place/{{ place.address }}" target="_blank" rel="noopener noreferrer">
                {{ place.address }}
              </a>
            </p>
            <p>
              (<span data-item="voters">{{ place.voters|join:", " }}</span>)
            </p>
            <p>
              <button class="btn {{ place|voted_by:request.username|yesno:"btn-default,btn-primary" }}"
                      data-action="vote"
                      data-state="{{ place|voted_by:request.username|yesno:"Unvote,Vote" }}">
                {{ place|voted_by:request.username|yesno:"Unvote,Vote" }}
              </button>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}


{% block extrafooter %}
  <script>
    $(function() {
      var ws_scheme = window.location.protocol == 'https:' ? 'wss' : 'ws';
      var ws_path = ws_scheme + '://' + window.location.host + '/votes/stream/';
      var socket = new ReconnectingWebSocket(ws_path);
      // Handle incoming messages
      socket.onmessage = function(message) {
        // Decode the JSON
        var data = JSON.parse(message.data);
        if (data.error) {
          alert(data.error);
          return;
        }
        var $placeDiv = $('div[data-id=' + data.place_id + ']');

        $placeDiv.find('[data-item="today-rating"]').html(data.total);
        $placeDiv.find('[data-item="voters"]').html(data.users.join(', '));
        $('span[data-item="most-wanted"]').html(data.most_wanted);
      };

      // handle voting
      $('[data-action="vote"]').on('click', function() {
        socket.send(JSON.stringify({
          'command': 'update',
          'place_id': $(this).closest('div[data-item="place"]').data('id'),
          'username': '{{ request.username }}'
        }));
        $(this).attr('data-state', $(this).attr('data-state') == 'Vote' ? 'Unvote' : 'Vote');
        $(this).html($(this).attr('data-state'));
        $(this).toggleClass('btn-default btn-primary');

        return false;
      });
    });
  </script>
{% endblock extrafooter %}
