{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>lunch-with-channels</title>

  <meta property="og:title" content="{% block og-title %}{% endblock og-title %}"/>
  <meta property="og:description" content="{% block og-description %}{% endblock og-description %}"/>
  {% block og-sitename %}<meta property="og:site_name" content="lunch-with-channels"/>{% endblock og-sitename %}

  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/base.css" %}" />
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">it's lunch time!</a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <span class="navbar-text">You appear as: <b>{{ request.username }}</b></span>
      {#      <a class="navbar-text" href="#">#}
      {#        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>#}
      {#      </a>#}
    </div>
  </div>
</nav>

<div class="container main">
  {% block content %}{% endblock content %}
</div>

<footer class="footer">
  <div class="container">
    <p>
      Done by <a href="https://github.com/amureki">amureki</a> during lazy weekend, 2016.
      <br>
      Comments or suggestions would be greatly appreciated.
    </p>
  </div>

</footer>

{% block metrics %}
  {% if not debug %}
    {# include analytics/metrics #}
  {% endif %}
{% endblock metrics %}

<script src="{% static "js/jquery-1.12.2.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
{% block extrafooter %}{% endblock extrafooter %}
</body>
</html>
